
* {
  box-sizing:border-box;
}

/* Neon */
nav a {
    text-decoration: none;
    -webkit-transition: all 0.05s;
    -moz-transition: all 0.05s;
    transition: all 0.05s;
  }  
nav a:hover {
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
    color: #fff;
  }

/* Glow */
@keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }
  
/* Glow for Webkit */
@-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }   
/* Glow for Mozilla */
@-moz-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }