
/* Universal-Selectors */

* {
    box-sizing:border-box;
}

/* Element-Selectors */
body {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

/* Class Selectors */
.splash-nav {
    width: 9rem;
    line-height: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    opacity: 0.8;
    margin: auto;
    display: block;
    text-decoration: none;
}
.wolf {
    width: 15rem;
    height: auto;
    opacity: .8;
    /* margin-bottom: -3rem; */
    /* margin-top: */
    /* border: 1px solid rgb(0, 255, 251); */
}

/* ID Selector */

/* Descendant Selectors */

/* Pseudo-classes */

/* Media Queries */

@media only screen and (min-width: 480px) {
    body {
        text-align: center;
        width: auto;
        height: auto;
        margin: auto;
    }
    .wolf {
        width: 20rem;
        height: auto;
    }
}

@media only screen and (min-width: 778px),
        only screen and (min-width:700px) and (orientation: landscape) {
    .wolf {
        width: 25rem;
        height: auto;
    }
}

@media only screen and (min-width:1140px) {
    .wolf {
        width: 30rem;
        height: auto;
    }
}