
/* Element-Selectors */

* {
    box-sizing:border-box;
}

body {
    text-align: center;
    width: auto;
    height: auto;
    margin: auto;
}

.splash-nav {
    width: 9rem;
    line-height: 4rem;
    margin: auto;
    display: block;
}

/* Class Selectors */

.wolf {
    width: 40rem;
    height: auto;
    opacity: .8;
    margin-bottom: -2rem;
}

.wolf {
    min-height: 0;
}

/* ID Selector */

/* Descendant Selectors */


.splash-nav {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    opacity: 0.8;
    display: block;
}
.splash-nav a:hover {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    opacity: 0.8;
}

/* Pseudo-classes */

/* Media Queries */
@media (max-width: 60rem) {
    body {
        text-align: center;
        width: auto;
        height: auto;
        margin: auto;
    }
    .wolf {
        
        width: 73%;
        height: auto;

    }
}
/* @media (max-width: 25rem) {
    body {
        text-align: center;
        width: auto;
        height: auto;
        margin: auto;
    }
    .wolf {
        
        width: 20rem;
        height: auto;

    }
} */