html {
    font-size: 1rem;
    line-height: 1.4;
    color: black;
    box-sizing: border-box;
}
/* Universal Selectors */
*, *:before, *:after {
    box-sizing: inherit;
}

/* Type-Selectors */
body {
    text-align: center;
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
}
header {
    border-bottom: 5px solid #dedede;
}
h2 {
    font-size: 1.5rem;
    color: black;
}
h3 {
    font-size: 1.2rem;
    color: black;
}
p {
    font-size: 1rem;
    color: black;
    /* background-color: transparent; */
    text-align: center;
}
img {
    width: 10rem;
    height: auto;
    margin: auto;
}
.p-content{
    text-align: left;
    /* margin-left: 1rem; */
}
.figcap {
    display: none;
}

/* Class Selectors */
.wrapper {
    width:95%;
    margin: 0 auto;
}
.header-container {
    margin-bottom: 2rem;
}
.main-container {
    background-color: white;
    border: 1px solid white;
    width: 100%
}

.title {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    display: none;
}

.main-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    opacity: .8;
}
.bottom-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    display: block;
}
.cert-div-head {
    float: left;
}
.cert-div-1 {
    margin-bottom: 1rem;
}
.cert-div-2 {
    margin-top: 5rem;
    margin-bottom: 1rem;
}
.certification-head-1 {
    /* vertical-align: left; */
    height: 2rem;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 4rem;
    margin-top: 3rem;
}
.certification-head-2 {
    /* vertical-align: left; */
    height: 3rem;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.certification-head-3 {
    /* vertical-align: left; */
    height: 7rem;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.certification-head-4 {
    /* vertical-align: left; */
    height: 2rem;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.certification-head-5 {
    /* vertical-align: left; */
    height: 3.8rem;
    width: auto;
    margin-right: 2rem;
    margin-left: 2rem;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.aws-certifications {
    float: left;
    margin-left: .5rem;
    margin-right: .5rem;
    height: 8rem;
    width: auto;
}
.py-certifications {
    float: left;
    margin-left: .5rem;
    margin-right: .5rem;
    height: 8rem;
    width: auto;
}
.languages {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 5rem;
    width: auto;
}
.languages2 {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    width: auto;
}
.languages3 {
    padding-left: 1rem;
    padding-right: 1rem;
    height: 2rem;
    width: auto;
}
.languages3:hover {
    opacity: .5;
}

/* ID Selectors */
#flashMessage {
    color: white;
    background-color: rgb(3, 216, 177);
    border-color: rgb(0, 186, 152);
    padding: 15px;
    border-radius: 5px;
    display: block;
    width: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    /* font-weight: bold; */
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
    /* Video Background */
    #video-background {
        position: fixed;
        right: 0; 
        bottom: 0;
        min-width: 100%; 
        min-height: 100%;
        width: auto; 
        height: auto;
        z-index: -100;
        opacity: 0.4;
    }
/* Styling of Sectional Content */
.section-content {
    background-color: whitesmoke;
    padding-top: 0.2rem;
    padding-bottom: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    opacity: .8;
    box-shadow: 0px 5px 0px #dedede;
}

/* Subscription Button and Input Field, had help from the treehouse course creating button, altered and customized for my site */
button {
    display: block;
    padding: 14px 34px 13px 34px;
    color: black;
    background-color: rgb(0, 186, 152);
    font-size: 18px;
    text-align: center;
    font-style: normal;
    border-radius: 5px;
    width: 10rem;
    border: 1px solid rgb(3, 216, 177);
    border-width: 1px 1px 3px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
    /* margin-bottom: 10px; */
    margin: 0 auto;
  }
  .button {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  button:hover {
      background-color: rgb(3, 216, 177);
      border-color: rgb(0, 186, 152);
      color: white;
      -webkit-animation: neon4 1s ease-in-out infinite alternate;
      -moz-animation: neon4 1s ease-in-out infinite alternate;
      animation: neon4 1s ease-in-out infinite alternate;
      color: #ffffff;
  }
  input[type="email"] {
    background: rgba(255,255,255,0.1);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    height: auto;
    margin: 0 auto;
    outline: 0;
    padding: 15px;
    width: auto;
    background-color: white;
    color: #8a97a0;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

/* Style for Pixelated Base Camp Statement */
.base-camp {
    line-height: 1.5rem;
    font-size: 1rem;
    color: black;
    margin-top: 6rem;
    margin-bottom: 6rem;
    font-family: 'Courier New', Courier, monospace;
    display: none;
    letter-spacing: 0.2rem;
}
p a:hover {
    font-weight: bold;
}
div p span {
    color: rgb(0, 186, 152);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}
header p span:hover {
    font-weight: bold;
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
    color: #ffffff;
}
nav a {
    text-decoration: none;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    transition: all 0.15s;
  }  
  
  /* Glow */
  @keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }
  
  /* Glow for Webkit */
  @-webkit-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }   
  /* Glow for Mozilla */
  @-moz-keyframes neon4 {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px rgb(48, 244, 201), 0 0 70px rgb(48, 244, 201), 0 0 80px rgb(48, 244, 201), 0 0 100px rgb(48, 244, 201), 0 0 150px rgb(48, 244, 201);
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px rgb(48, 244, 201), 0 0 35px rgb(48, 244, 201), 0 0 40px rgb(48, 244, 201), 0 0 50px rgb(48, 244, 201), 0 0 75px rgb(48, 244, 201);
    }
  }

/* Wolfhead Logo */
.wolfhead-02 {
    opacity: .8;
    fill: rgb(0, 186, 152);
    width: 15rem;
    height: auto;
    display: block;
    margin: auto;
}

.title {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    display: none;
}

.main-nav {
    padding-left: 1rem;
    padding-right: 1rem;
    font-weight: bold;
    opacity: .8;
}
.link {
    font-weight: bold;
    color: rgb(2, 135, 110);
    font-family:'Times New Roman', Times, serif;
}
.link:hover {
    color: rgb(0, 186, 152);
}
.durin {
    display: none;
}
/* Hidden Door */
.hidden-door {
    opacity: 0;
    font-size: 5rem;
}
.hidden-door:hover {
    opacity: 1;
    font-weight: bold;
    -webkit-animation: neon4 1s ease-in-out infinite alternate;
    -moz-animation: neon4 1s ease-in-out infinite alternate;
    animation: neon4 1s ease-in-out infinite alternate;
    color: #ffffff;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

/* Descendant Selectors */
header h1 {
    font-size: 1.5rem;
    color: black;
    margin-top: 1.5rem;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.main-nav li {
    /* margin-bottom: 1rem; */
}
.main-nav a {
    display: border-box;
    padding: 0.5rem ;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    color:black;
    background: transparent;
}
footer p span {
    color: rgb(0, 186, 152);
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.1rem;
}
.main-footer {
    width: 80%;
}

/* Navigation + stroke animation */
nav ul {
    width: auto;
    margin: 0 auto;
    background: transparent;
    list-style: none;
    text-align: center;
  }
nav ul li {
    display: block;
  }
nav ul li a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: #aaa;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0 0.625rem;
  }
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover {
    color: rgb(0, 186, 152);
  }
/* stroke */
nav.stroke ul li a {
  position: relative;
}
nav.stroke ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: rgb(0, 186, 152);
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 30%;
}


/* Media Queries */

@media only screen and (min-width: 480px) {
    .wolfhead-02 {
        display: none;
    } 
    .durin {
        display: inline-block;
    }
    nav {
        float: left;
        background-color: transparent;
    }
    nav ul {
        display: inline-block;
    }
    nav ul li {
        vertical-align: left;
    }
    nav.stroke ul li a:hover:after {
        width: 75%;
      }
    header {
        margin-top: 2rem;
        border-bottom: 5px solid #dedede;
        /* background-image: url(../img/wolfhead-02.svg);
        background-repeat: no-repeat;  */
    }
    header::after {
        content: "";
        background-image: url(../img/wolfhead-02.svg);
        background-repeat: no-repeat; 
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 60rem;
        position: absolute;
        z-index: -1;   
      }

    .footer-nav {
        float: none;
    }
    /* Clearfix */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
}

@media only screen and (min-width: 778px),
        only screen and (min-width:700px) and (orientation: landscape) {
    .base-camp {
        display: block;
        font-size: 1.2rem;
    }
    nav {
        float: none;
        display: block;
    }
    nav ul {
        float: none;
        width: 90%;
        text-align: left;
    }
    nav ul li {
        display: inline-block;
        
    }
    .section-content {
        width: 80%;
    }

    /* Clearfix */
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
 }
 @media only screen and (min-width:1140px) {
 
    /* Clearfix */
    /* .clearfix::after {
        content: "";
        display: table;
        clear: both;
    } */
}